<launch>	
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" />

	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<param name="robot_description" command="$(find xacro)/xacro $(find ta_lab6)/urdf/racecar_2.xacro"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find wecar)/rviz/gmapping_slam.rviz"/>
</launch>
