<launch>

	<node pkg="map_server" type="map_server" name="map_server" args="$(find wecar)/map/class.yaml"/>

	<include file="$(find wecar)/launch/includes/localize.launch"/>
	<include file="$(find wecar)/launch/includes/follow_trajectory.launch"/>
	<include file="$(find wecar)/launch/includes/waypoint_control.launch"/>


	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<param name="robot_description" command="$(find xacro)/xacro $(find ta_lab6)/urdf/racecar_2.xacro"/>
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find wecar)/rviz/pf_navigation.rviz"/>

</launch>
